      <!-- Footer Start -->
      <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    2022 &copy; Develop by TQT | Theme by Velonic
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

</div>
