<%- include('fragment/head'); -%>
<%- include('fragment/mdbcss'); -%>
<body>
	
	<div class="limiter">
		
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/images/ekybasic.png" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="#" method="post">
					<span class="login100-form-title">
						Eta Note Login Anh Yeu HUONG
					</span>
                    
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: example@abc.com">
						<input class="input100" type="text" name="email" id="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" id="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn"> 
							Login
						</button>
					</div>
					
					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
						 Password?
						</a>
					</div>

					<div class="container-login100-form-btn">
						<a class="btn btn-primary" style="background-color: #ec0053;" href="/auth/google" role="button">
							<i class="fab fa-google"></i>
						  </a>
						  
					</div>

					<div class="text-center p-t-40">
						<a class="txt2" href="/register">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--===============================================================================================-->	
<!--===============================================================================================-->
<%- include('fragment/scriptcommon'); -%>

	<script  src="/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>

<!--===============================================================================================-->
<%- include('fragment/mdbjs'); -%>
<script  src="/js/login.js"></script>

	

<!-- 
<tr >
	<td class="content-note exploder" >Tidddddđger</td>
	<td class="col-sm-1 ">
		<img class="favicon-page" src="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196" alt="">
		 <span>genk.com</span>
	</td>
	<td class="title-page">Tích hợp Cloud Services cho Image Upload trong Node.js và React Web app</td>
	<td class="col-sm-1 date-time-note">2011/04/25</td>
	<td class="col-sm-2">
		<a href="javascript:void(0)" class="ion ion-ios-add-circle-outline btn-outline-primary btn"></a>
		<a href="javascript:void(0)" class="ion ion-md-star-outline btn-outline-primary btn"></a>
		<a href="javascript:void(0)" class="ion ion-ios-share-alt btn-outline-primary btn"></a>
	</td>
</tr>
<tr class="extendTab hide">
	<td colspan="2" style="background-color: #3A6378; display: none;">
		<div class="text-wrap">
			<textarea  spellcheck="false" disabled>Tidddddđger</textarea>
			<div class="list-btn-action">
				<a href="javascript:void(0)" class="ion ion-md-create btn-outline-primary btn btn-edit-note"></a>
				<a href="javascript:void(0)" class="ion ion-md-copy btn-outline-primary btn btn-copy-note"></a>
				<a href="javascript:void(0)" class="ion ion-md-star-outline btn-outline-primary btn"></a>
			  </div>
			</div>
	</td>
  </tr> -->





  