.text-ver-center-tool-bar {
    padding-top: 16px;
}

.icon-avatar-member {
    height: 27px;
    width: 27px;
    margin-top: -13px;
    margin-left: -3px;
}

.list-avatar-member {
    border: #1A2942 1px solid;
    border-radius: 3px;
}

.list-avatar-member li {
    padding: 4px 0;
}


.area-tool-bar{
    width: 88%;
    height: 86px;
    position: fixed;
    z-index: 2;
    background-color: #EDF0F0;
    top: 70px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-left: -17px;
}

.tool-bar-fixed{
    width: 92%;
    margin-top: 1%;

}

.list-keyword-teamspace{
    margin-top: 7rem !important;
}

::-webkit-scrollbar {
    width: 7px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #585858;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #434342;
}

.slick-slide img {
    display: inline !important;
}

.card-note {
    padding: 12px !important;
}

.note-content-view {
    background-color: #1A2942;
    border-radius: 3px;
    padding: 10px;
    color: white;
    width: 50%;
    cursor: pointer;
   
}
.note-text-view{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: bold;
}

.note-text-view::before {
    content: '"';
    color: rgb(7, 183, 232);
    font-weight: 700;
    font-size: 18px;
}

.note-text-view::after {
    content: '"';
    color: rgb(7, 183, 232);
    font-weight: 700;
    font-size: 18px;
}

.note-text-view.no-after:after{content:none;}
.note-text-view.no-after::before{content:none;}

.right-box-info{
    max-width: 48%;
    width: 48%;
    border-radius: 3px;
    border: solid 2px gray;
    margin-left: 6px;
    height: 69px;
    padding: 6px;
}

.temp-card{
    display: none;
}
.bottom-box-info {
    max-width: 100%;
    border-radius: 3px;
    border: solid 2px gray;
    margin-top: 8px;
    height: 69px;
    padding: 6px;
}

.logo-page{
    height: 27px;
    width: 27px;
}

.title-page{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: bold;
}
.avatar-author-note{
    height: 31px;
    width: 31px;
    margin-top: -12px;
}

.border-primary{
    border: 1px solid var(--primary);
}

.expand-view{
   width: 100% !important;
}

.info-page{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.list-btn-action a{
    height: 26px;
    width: 26px;
    padding: 6px
 }

 .list-btn-action{
    width: 9%;
    float: right;
}

textarea{
    min-height: 77px;
    font-size: 15px;
    width: 91%;
    padding: 5px;
    float: left;
    resize: none;
    border: none;
    background-color: #0B374D;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.iziToast-add-mem{
    margin-left: 50px;
}
#emailMemberAdd{
    color: #ffffff;
}

